# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.project
/.cache/
/cache/*
/.settings/
/.buildpath
vendor/
*.dist.php
.DS_Store
/public/.htpasswd
/storage/*
*private.key
app/controllers/func.php
/hooks/*.json
/app/controllers/api/connect2.php
/app/controllers/cli/odds.php
/version.txt
.env